<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Mini Yelp</h1>
  <p class="lead">Find the best restaurants in town!</p>
  <hr class="my-4">
  <div class="mb-3">
    <%= form_with url: restaurants_path, method: :get, local: true do %>
      <div class="input-group">
        <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search for restaurants...' %>
        <div class="input-group-append">
          <%= submit_tag 'Search', class: 'btn btn-outline-light' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>List of Restaurants</h2>
    <%= link_to 'Create a New Restaurant', new_restaurant_path, class: 'btn btn-primary' %>
  </div>
</div>

<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to restaurant.name, restaurant_path(restaurant), class: 'text-decoration-none' %>
      <span class="badge badge-primary badge-pill"><%= restaurant.category.capitalize %></span>
    </li>
  <% end %>
</ul>
